.shine-hover {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.shine-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  background: linear-gradient(    to top right,    transparent 0%,    rgba(255, 255, 255, 0.6) 50%,    transparent 100%  );
  transform: skewX(30deg);
  pointer-events: none;
}

.shine-hover:hover::after {
  animation: shine-move 1s ease-in-out;
  -webkit-animation: shine-move 1s ease-in-out;
}

@keyframes shine-move {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}
